body {
  background-image: url(BG-Image3.jpg);
  background-size: 100%;
}
.intro {
  font-family: fantasy;
}
h1 {
  font-size: 115px;
  font-family: Papyrus;
  color: azure;
  margin-left: 25px;
}
.me {
  font-size: 45px;
  font-family: Optima;
  color: azure;
  margin-left: 25px;
}
.intro {
  background-color: rgba(133, 133, 133, 0.4);
  border: 2px;
  border-color: black;
  border-radius: 10px;
  width: 650px;
  position: absolute;
  top: 15%;
  left: 5%;
  page-break-after: auto;
}
.about_me {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-size: 25px;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 150%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
  padding: 20px;
  text-align: justify;
}
img {
  width: 450px;
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 116%;
  left: 52%;
  padding: 25px;
}
.contact_me {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-size: 25px;
  font-family: Times New Roman;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
a:link {
  color: greenyellow;
}
a:visited {
  color: coral;
}
